Q.1. Write a program to accept percentage from the user and display the grade according to the following criteria.
1. marks >90  grade A  2. marks>80 and <=90 grade B 3.  marks >=60 and <=80 grade C 4. marks below 60 grade D

In [2]:
percentage = float(input("Enter the percentage: "))

if percentage > 90:
    grade = "A"
elif percentage > 80:
    grade = "B"
elif percentage >= 60:
    grade = "C"
else:
    grade = "D"

print("Grade:", grade)

Enter the percentage:  35

Grade: D

Q.2. write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
    1. tax 15% cost price(in Rs) >100000
    2. tax 10% cost price >50000 and <= 100000
    3. tax 5% cost price <=50000

In [3]:
cost_price = float(input("Enter the cost price of the bike (in Rs): "))

if cost_price > 100000:
    road_tax = 0.15 * cost_price
elif cost_price > 50000:
    road_tax = 0.10 * cost_price
else:
    road_tax = 0.05 * cost_price

print("Road tax to be paid: Rs", road_tax)

Enter the cost price of the bike (in Rs):  50000

Road tax to be paid: Rs 2500.0

Q.3. Accept any city from the user and display monuments of that city.
1. city delhi monument red fort
2. city Agra monument taj mahal
3. city jaipur monument jai mahal

In [4]:
city = input("Enter the name of a city: ")

if city.lower() == "delhi":
    monument = "Red Fort"
elif city.lower() == "agra":
    monument = "Taj Mahal"
elif city.lower() == "jaipur":
    monument = "Jai Mahal"
else:
    monument = "Monument not found for the entered city."

if monument != "Monument not found for the entered city.":
    print("In", city, "the famous monument is", monument)
else:
    print(monument)

Enter the name of a city:  delhi

In delhi the famous monument is Red Fort

Q.4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [5]:
number = int(input("Enter a number: "))
count = 0

while number > 10:
    number /= 3
    count += 1

print("The given number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number:  5

The given number can be divided by 3 0 times before it is less than or equal to 10.

Q.5. Why and when to use while loop in python give a detailed description with example.

Ans. A while loop in Python is used when you want to repeatedly execute a block of code as long as a certain condition remains true. 
It allows you to create loops with a flexible termination condition.
The condition is a boolean expression that determines whether the loop should continue executing or not. The code block inside the while loop will keep running as long as the condition evaluates to True. If the condition becomes False, the loop terminates, 
and the program continues with the next statement after the loop.

In [6]:
count = 0

while count < 5:
    print("Count:", count)
    count += 1

print("Loop finished.")

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Loop finished.

Q.6 Use nested while loop to print 3 different pattern.

In [7]:
row = 1
while row <= 5:
    col = 1
    while col <= row:
        print("*", end="")
        col += 1
    print()
    row += 1

*
**
***
****
*****

In [8]:
row = 1
while row <= 5:
    col = 1
    while col <= 5:
        print("*", end="")
        col += 1
    print()
    row += 1

*****
*****
*****
*****
*****

In [9]:
row = 1
while row <= 5:
    spaces = 5 - row
    while spaces > 0:
        print(" ", end="")
        spaces -= 1

    stars = (2 * row) - 1
    while stars > 0:
        print("*", end="")
        stars -= 1

    print()
    row += 1

    *
   ***
  *****
 *******
*********

Q.7 Reverse a While loop to display numbers from 10 to 1.

In [10]:
number = 10

while number >= 1:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
Q.8 Reverse a while loop to display numbers from 10 to 1.